{cover_enabled, true}.

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.8.6"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key.git"}},
  {simple_env, ".*", {git, "https://github.com/CamShaft/simple_env.git"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}}
]}.
